body {
	font-family: 'Lato', sans-serif !important;
}

#available_tags{
	float:left;
	width: 15%;
	padding: 10px 0 0 20px;
  	left: 0;
}

.inline{
	display: inline-block;
}

.action_button_span{
	padding: 5px 5px 5px 5px;
}

#new_post {
	height: 75%;
}

#new_post_title, #new_tag {
	margin-bottom:10px; 
	width:95%; 
	padding: .4em;
}

#new_post_body {
	margin-bottom:5px; 
	width:95%;
	height: 75%; 
	padding: .4em;
}

#added_tags {
	height: 35px;
}

.post_title {
	font-size: 20px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

.post_text {
	font-size: 14px;
	padding: 15px 0 0 0;
	margin: 0px;
}

.post_create_date {
	font-size: 10px;
	padding: 0 0 0 0;
	margin: 0px;
	text-align: right;
	font-style: italic;
}

.post_tag_container {
	padding: 15px 0 0 0;
}

.center {
	margin: 0 50% 0 50%;
	width: 50%;
	left: -25%;
	position: relative;
}

h2 {
	padding: 10px 0 10px 0;
	margin: 0;
}

.action_button{
	font-family: 'Lato', sans-serif !important;
	font-size: 1em !important;
}

.post_hover_active {
	background-color: #CCC2FC;
	z-index: -3;
	padding: 0;
}

.tag {
	font-family: 'Lato', sans-serif !important;
	font-size: 12px !important;
	margin: 4px 2px 4px 2px !important;
}

.post {
	padding: 55px 0 20px 0;
}


.ui-dialog .ui-state-error { 
	padding: .3em; 
}