body {
	font-family: 'Lato', sans-serif !important;
}

.page_title {
	text-align: center;
}

#action_buttons {
	padding: 10px 0 0 20px;
}

#available_tags{
	float:left;
	width: 15%;
	padding: 10px 0 0 20px;
  	left: 0;
}

.inline{
	display: inline-block;
}

.action_button_span{
	padding: 5px 5px 5px 5px;
}

#new_post {
	height: 75%;
}

#new_post_title, #new_tag {
	margin-bottom:10px; 
	width:95%; 
	padding: .4em;
}

#new_post_body {
	margin-bottom:5px; 
	width:95%;
	height: 75%; 
	padding: .4em;
}

.photo_url_input {
	display: block;
	width:95%; 
	padding:.4em;
}

.photo_caption_input {
	display: inline;
	float: right;
}

.new_photo_div {
	margin: 10px 0 10px 0;
}

.new_photo {
	display: inline;
	float: left;
}

.new_photo_url_label {
	display: block;
	padding: .4em 0 0 0;
}

.new_photo_caption_label {
	display: inline;
}

#added_tags {
	height: 35px;
	padding: 5px 0 10px 0;
}

.post_title {
	font-size: 20px;
	font-weight: bold;
	padding: 0px;
	margin: 0px;
}

.post_text {
	font-size: 15px;
	padding: 15px 0 15px 0;
	margin: 0px;
}

.post_create_date {
	font-size: 10px;
	padding: 0 0 0 0;
	margin: 0px;
	text-align: right;
	font-style: italic;
}

.post_tag_container {
	padding: 0px 0 0 0;
}

.center {
	margin: 0 50% 0 50%;
	width: 50%;
	left: -25%;
	position: relative;
}

.post_container {
	margin: 0 50% 0 50%;
	width: 50%;
	left: -25%;
	position: relative;
}

.post_image_caption{
	margin: 0 0 25px 0;
	font-size: 13px;
	font-style: italic;
	color: #969696;
}

h2 {
	padding: 10px 0 10px 0;
	margin: 0;
}

.action_button{
	font-family: 'Lato', sans-serif !important;
	font-size: 1em !important;
}

.post_hover_active {
	background-color: #CCC2FC;
	z-index: -3;
	padding: 0;
}

.tag {
	font-family: 'Lato', sans-serif !important;
	font-size: 12px !important;
	margin: 4px 2px 4px 2px !important;
}

.post {
	padding: 40px 0 35px 0;
	float: left;
	width: 95%;
}

/*.post_content {
	float: left;
	width: 95%;
}*/

.post_edit_icons {
	float: right;
	padding-top: 36px;
	padding-left: 20px;
	padding-bottom: 50px;
}

.delete_post_icon {
	height: 10px;
	width: 10px;
	cursor: pointer;
}


.ui-dialog .ui-state-error { 
	padding: .3em; 
}