<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/about.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<title>About</title>
</head>
<body>
	<h1 class="italic center">Welcome to the world through my eyes...</h1>
	<img class="center" src="../img/ericaPic.jpg" />
	<p class="center">Hi, I'm Erica- student at University of Missouri, obsessed with fashion, cats, and Dark Chocolate M&Ms (among other things). This blog reflects my constant search to find beauty and joy in everyday life. Basically, it is a collection of all things me. All my passions, inspirations, and life experiences right here in one place. </p>
</body>
</html>