<!-- <html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/about.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<title>About</title>
</head> -->
<!-- <body> -->
<div id="aboutVertCenter">
	<h1 id="aboutBegin" class="italic about_center">Welcome to the world through my eyes...</h1>
	<img class="about_img" src="../img/ericaPic.jpg" />
	<p class="about_center">Hi, I'm Erica- student at University of Missouri, obsessed with fashion, cats, and Dark Chocolate M&Ms (among other things). This blog reflects my constant search to find beauty and joy in everyday life. Basically, it is a collection of all things me. All my passions, inspirations, and life experiences right here in one place. </p>
</div>
<!-- </body> -->
<!-- </html> -->