<h1>You are the admin homepage. Congratulations.</h1>

<h3>Add Posts</h3>
<!-- Add tags -->
<!-- Upload pictures -->

<h3>Update Posts</h3> 
<!-- Add tags -->
<!-- Upload pictures -->

<h3>Add Tags</h3>

<h3>Delete Posts</h3>

<h3>Delete Comments</h3>



<h3>Edit Personal Things</h3>



