<head>
	<title>Admin Homepage</title>
	<link rel="stylesheet" type="text/css" href="/css/admin_homepage.css">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
	<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
</head>
<h1 class='page_title'>Welcome, <%= user.username.titleize %></h1>
<!-- 
Technologies to use:
jQueryUI (draggable, droppable, effects) -->

<div id="action_buttons">
	<span class="inline action_button_span">
		<button type="button" id='new_post_button' class='action_button'>Add new post</button>
	</span>


	<!-- <span class="inline action_button_span">
		<h3>Edit Personal Things</h3>
	</span> -->

	<span class="inline action_button_span">
		<form method="post" action="logout">
			<input type="submit" class='action_button' value="Logout" />
		</form>
	</span>

</div>

<%= erb(:new_post, :layout => false) %>

<div id = 'available_tags'>
	<%= erb(:available_tags, :layout => false, :locals => {:unique_tags => user.get_unique_tags()}) %>
</div>


<div id='post_display_container'>
	<% user.posts.ordered_by_reverse.each do |p| %>
	<%= erb(:_single_post, :layout=>false, :locals => p.generate_view_locals()) %>
	<% end %>
</div>




