<!-- <html>
<head>
	<link rel="stylesheet" type="text/css" href="../css/contact.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
	<title>Contact</title>
</head>
<body> -->
	<div id="contactVertCenter" class="vertCenter">
		<h1 class="italic center">Like what you see?</h1>

		<p class="center">Check out my <a href="http://www.pinterest.com/elyons17/">Pinterest</a></p>

		<p class="center">And my <a href="https://www.linkedin.com/in/erlyons">Linkedin page</a></p>

		<p class="center">Or shoot me an 

		<script language="JavaScript">
			var username = "erica.lyons17";
			var hostname = "gmail.com";
			var linktext = "email";
			document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "</a>");
		</script>
		</p>
	</div>
<!-- </body> -->
<!-- </html> -->