<div id="contactVertCenter" class="vertCenter">
	<h1 class="contact_italic contact_center centered_text">Like what you see?</h1>

	<p class="contact_center centered_text">Check out my <a href="http://www.pinterest.com/elyons17/" class="contact">Pinterest</a></p>

	<p class="contact_center centered_text">And my <a href="https://www.linkedin.com/in/erlyons" class="contact">Linkedin page</a></p>

	<p class="contact_center centered_text">Or shoot me an 

	<script language="JavaScript">
		var username = "erica.lyons17";
		var hostname = "gmail.com";
		var linktext = "email";
		document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "' class='contact'>" + linktext + "</a>");
	</script>
	</p>
</div>
