<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <title>Erica Lyons</title>
  </head>
  <body>
    <div class="fullPageImg">
      <h1 id="mainTitle">THE QUIET OBSERVER</h1>
      <!--<h3 class="italic">"Beauty is hidden in everything, just learn how to observe" -Ritu Ghatourey</h3>-->
      <div id="linkCntnr">
        <a href="about">about</a>
        <a href="blog">blog</a>
        <a href="contact">contact</a>
      </div>
    </div>
  </body>
</html>
