<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

    <script src="/js/index.js"></script>
    <script src="/js/blog.js"></script>
    <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <title>Erica Lyons</title>
  </head>
  <body>
    <div class="fullPageImg">
      <h1 id="mainTitle">THE QUIET OBSERVER</h1>
      <!--<h3 class="italic">"Beauty is hidden in everything, just learn how to observe" -Ritu Ghatourey</h3>-->
      <div id="linkCntnr">
        <a id="aboutButton" class='photo' href="">about</a>
        <a id="contactButton" class='photo' href="">contact</a>
        <a id="blogButton" class='photo' href="">blog</a>
        &nbsp;
      </div>
    </div>

    <div id="aboutSection">
      <%= erb(:about, 
              :layout => false) %>
    </div>

    <div id="contactSection">
      <%= erb(:contact, 
              :layout => false) %>
    </div>

    <div id="blogSection">
      <%= erb(:blog, 
              :layout => false, 
              :locals => {:posts => user.posts.ordered_by_reverse,
                          :tag_filters => {}
                          }) %>
    </div>


  </body>
</html>
