<!-- text, pics, tags -->
<div id='new_post_form' title="Create New Post">
	<form id='new_post'>
			<label for="new_post_title">Title</label>
			<input type='text' class="text ui-widget-content ui-corner-all" id='new_post_title'><br>
			<label for="new_post_body">Body</label>
			<textarea id='new_post_body' class="text ui-widget-content ui-corner-all"></textarea><br>
			<div id="added_tags">Tags:</div>
			<div id="added_photos"></div>
	</form>
</div>