<!-- text, pics, tags -->
<div id='new_tag_form' title="Create New Tag">
	<form id='new_tag'>
			<label for="new_tag_form">Tag Name</label>
			<input type='text' class="text ui-widget-content ui-corner-all" id='new_tag_input'><br>
	</form>
</div>