<!-- text, pics, tags -->
<div id='new_post_form'>
	<form id='new_post'>
		<input type='text' id='new_post_title'><br>
		<textarea id='new_post_body'></textarea><br>
		<button id='add_photo'>Add Photo</button>
		<button id='add_tag'>Add Tag</button>
		<button id='create_new_post'>Create Post</button>
	</form>
</div>